<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/layout/header :: common_header"></head>
    <body>
        <div class="container" id="mainContainer">
        
                 
             <div th:replace="fragments/layout/header :: common_logout"></div>
             
             <ol class="breadcrumb">
              <li class="active">Inicio</li>
            </ol>
            
             <div class="container" style="margin-top:100px;">
               
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/admin/usuarios}"><span class="glyphicon glyphicon-user"></span> Usuarios</a>
            
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/manager/preguntas}"><span class="glyphicon glyphicon-question-sign"></span> Preguntas</a>
            
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/manager/categorias}"><span class="glyphicon glyphicon-tag"></span> Categor&iacute;as</a>
            
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/manager/examenes}"><span class="glyphicon glyphicon-file"></span> Ex&aacute;menes</a>
            
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/manager/evaluaciones}"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Evaluaciones</a>
            
            <a class="btn btn-primary btn-lg btn-block" th:href="@{/admin/configuracion}"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Configuraci&oacute;n</a>
            </div>
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
    </body>
</html>