<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/layout/header :: common_header"></head>
    <body>
    <div class="container" id="mainContainer">

        <div class="jumbotron alert alert-danger">
            <h1>Error de Sistema</h1>
            <p>Ocurrio un error inesperado. Favor de contactar al
                administrador.</p>
        </div>
    </div>
    <footer th:replace="fragments/layout/header :: common_footer"></footer>
</body>
</html>