<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/layout/header :: common_header"></head>
    <body>
        <div class="container" id="mainContainer">     
             <div th:replace="fragments/layout/header :: common_logout"></div>
             
             <ol class="breadcrumb">
              <li><a th:href="@{/}">Inicio</a></li>
              <li><a th:href="@{/manager/evaluaciones}" >Evaluaciones</a></li>
              <li class="active">Consulta de Evaluaci&oacute;n</li>
            </ol>      
            
            <form>
                <div class="form-group">
                    <label for="name">Nombre de la evaluaci&oacute;n</label>
                    <input type="text" name="name" th:value="${evaluation.name}" readonly="readonly"  class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="aplicant">Nombre del aplicante</label>
                    <input type="text" name="aplicant" th:value="${evaluation.aplicant}" readonly="readonly"  class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="creationDate">Fecha de creaci&oacute;n</label>
                    <input type="text" name="creationDate" th:value="${#dates.format(evaluation.creationDate, 'dd/MM/yyyy HH:mm')}" readonly="readonly"  class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="result">Calificaci&oacute;n</label>
                    <input type="text" name="result" th:value="${#numbers.formatDecimal(evaluation.result * 100,2,2)}" readonly="readonly"  class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="respuestas">Respuestas</label>
                    <div class="panel panel-default" th:each="q : ${evaluation.questionResponses}">
                       <div class="panel-body">
                           <span th:class="${q.correct ? 'correct-response' : 'fail-response'}"></span>
                           <p th:text="${q.question.text}"></p>
                           <ul>
                               <li th:each="ans : ${q.responses}"><span th:text="${ans.answer.text}" th:class="${ans.answer.correct ? 'resp-correct' : ''}"></span></li>
                           </ul>
                           <div class="answer-response">
                               Respuesta:
                               <ul>
                                   <li th:each="ans : ${q.responses}" th:if="${ans.idEvaluationAnswer}"><span th:text="${ans.answer.text}"></span></li>
                               </ul>
                           </div>
                       </div>
                   </div>
                </div>
                
                
            
            </form>
            
            
            
        </div>
        <footer th:replace="fragments/layout/header :: common_footer"></footer>
    </body>
</html>